/*generic styling */
.rightAlign {
  text-align: right;
}
.marginTop1 {
  margin-top: 200px;
}
.marginTop2 {
  margin-top: 150px;
}
.marginTop3 {
  margin-top: 100px;
}
/* .marginTop4 {
  margin-top: 50px;
}
.marginTop5 {
  margin-top: 30px;
} */
.marginTop6 {
  margin-top: 20px;
}
.marginBottom1 {
  margin-bottom: 200px;
}
.marginBottom2 {
  margin-bottom: 150px;
}
.marginBottom3 {
  margin-bottom: 100px;
}

/*for now, new css font-size is (2/3) * Xd font-size*/
h1.title {
  font-size: 250px;
}
h1 {
  font-size: 100px;
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: 800;
  margin-bottom: 100px;
  margin: 0;
  /* line-height: 130%;*/
}
h2 {
  font-size: 100px;
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: 800;
  /* line-height: 130%;
  margin: 0;
  margin-bottom: 20px;/*30px in wireframes but 20px to account for line-height*/
}
h3 {
  font-weight: 800;
  font-size: 60px;
  font-family: 'Proxima Nova', 'Avenir';
  /* line-height: 130%;
  margin: 0; */
}
h4 {
  font-weight: bold;
  /* font-size: 45px; */
  font-size: 30px;
  font-family: 'Proxima Nova', 'Avenir';
  margin: 0;
  line-height: 130%;
}
h5 {
  font-size: 30px;
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: bold;
  /* color: rgb(125,125,125);
  margin-top: 0;
  line-height: 140%; */
}
h6 {/*Use for buttonHeaders*/
  /* font-size: 30px; */
  font-size: 20px;
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: 600;
  margin-top: 0;
}
h6.overline {
  /* font-size: 30px; */
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
h6.caption {
  /* font-size: 25px; */
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
p {
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: 400;
  line-height: 130%;
  margin-top: 0;
}
p.p1 {
  /* font-size: 40px; */
  font-size: 27px;
}
p.p2 {
  font-size: 30px;
}
/*font colors */
.lightPrimary {
  color: rgba(255,255,255,0.90);
}
.lightSecondary {
  color: rgba(255,255,255, 0.75);
}
.lightTertiary {
  color: rgb(255,255,255, 0.6);
}
.lightDisabled {
  color: rgba(255,255,255, 0.30);
}
.darkPrimary {
  color: rgba(255,255,255,0.90);
}
.darkSecondary {
  color: rgba(255,255,255, 0.75);
}
.darkTertiary {
  color: rgba(255,255,255, 0.60);
}
.darkDisabled {
  color: rgba(255,255,255, 0.30);
}
.darkFaded {
  color: rgba(255,255,255, 0.10);
}
.darkAccent {
  color: #61DEC7;
}
