/*Use for page titles*/
h1 {
  font-size: 55px;
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: 800;
  color: rgb(10,10,10);
  margin-top: 0;
  line-height: 130%;
}
h1.light {
  color: rgb(245,245,245);
}
/*Use for section titles*/
h2 {
  font-size: 35px;
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: 700;
  line-height: 130%;
  margin: 0;
  margin-bottom: 20px;/*30px in wireframes but 20px to account for line-height*/
}
h2.light {
  color: rgb(240,240,240);
}
h2.dark {
  color: rgb(15,15,15);
}
/*Use for first-level headers within sections*/
h3 {
  font-weight: semibold;
  font-size: 24px;
  font-family: 'Proxima Nova', 'Avenir';
  color: rgb(30,30,30);
  line-height: 130%;
  margin: 0;
}
h3.light {
  color: rgb(225,225,225);
}
/*Use for second-level headers*/
h4 {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Proxima Nova', 'Avenir';
  color: rgb(90,90,90);
  margin: 0;
  line-height: 140%;
}
h4.light {
  color: rgb(205,205,205);
}
/*Use for overlines/buttons*/
h5 {
  font-size: 14px;
  font-family: 'Proxima Nova', 'Avenir';
  color: rgb(125,125,125);
  margin-top: 0;
  font-weight: 600;
  line-height: 140%;
}
h5.light {
  color: rgb(180,180,180)
}
h6 {/*Use for captions*/
  font-size: 12px;
  font-family: 'Proxima Nova', 'Avenir';
  color: rgb(30,30,30);
  font-weight: 500;
}
h6.light {
  color: rgb(225,225,225);
}
/*Use this exclusively for my paragraph texts*/
p {
  color: rgb(80,80,80);
  font-family: 'Proxima Nova', 'Avenir';
  font-weight: lighter;
  font-size: 16px;
  line-height: 140%;
  margin-top: 0;
}
p.light {
  color: rgb(190,190,190);
}
